header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 16px;
}
nav ul li a {
  color: white;
}
#root {
  display: flex;
  flex-direction: column;
}

nav ul li a:active {
  color: brown;
}
